@import '../../common/styles/themes.less';
@import '../../common/styles/mixins.less';

.home-main-layout {
  .demo-nav {
    display: flex;
    li {
      list-style: none;
      margin: 10px;
    }
  }
}
