@import '../../common/styles/themes.less';
@import '../../common/styles/mixins.less';

.home-main-layout {
  .ant-layout-content {
    padding: 24px 0;
    background-color: #fff;
    min-height: calc(100vh - 64px - 70px);
  }
}
